.brand-logo{
    margin-left: 2%;
}

.container-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
}

.form-title{
    margin-bottom: 6%;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

.btn-section {
    margin-bottom: 50px;
}

.page-footer {
    margin-top: 5rem;
    padding-top: 20px;
    padding-bottom: 20px;
}
.carousel-custom {
    height: 400px;
}
.carousel-custom .carousel-item img {
    height: 100%;
    object-fit: cover;
}